#gridArea {
        display: flex;
        flex-wrap: wrap;
        background-color: gray;
        width: 500px;
        height: 500px;
        justify-content: center;
        align-items: center;
}

.oneSquare{
        align-content: center;
        background-color: limegreen;
        margin: 20px;
        padding: 2px;
        opacity: 0%;
}

.revealed{
        opacity: 100%
}
/* Need to make a flexgrid that will max shrink the box margin to 960/sideLen *a/