#gridArea {
        background-color: gray;
}

.oneSquare{
        align-content: center;
        background-color: green;
        margin: 20px;
}
/* Need to make a flexgrid that will max shrink the box margin to 960/sideLen */