.gridCanvas{
        display: flex;
        flex: 0 0 95%;
        background-color: gray;
}

#gridCanvas{
        list-style-type: none;
}
#generateButton {
        justify-self: center;
}

/* Need to make a flexgrid that will max shrink the box margin to 960/sideLen */